@page "/recomendacoes"
@using PIMFazendaUrbanaRadzen.Services
@using PIMFazendaUrbanaAPI.DTOs
@attribute [Authorize]

<PageTitle>Recomendações de plantio</PageTitle>

<!-- Título na parte superior -->
<div style="text-align: left; margin-bottom: 20px;">
    <RadzenText Text="Recomendações de plantio" TextStyle="TextStyle.H3" TagName="TagName.H1" class="rz-mb-4" />
</div>

<!-- Container geral usando Flexbox para organizar o grid e o formulário -->
<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start; flex-wrap: wrap;">

    <!-- Parte do formulário (lado esquerdo) -->
    <div style="flex: 1; margin-right: 20px; min-width: 300px; display: flex; flex-direction: column;">
        <!-- Centralizar o texto -->
        <div style="text-align: left; margin-bottom: 15px;">
            <RadzenText Text="Preencha as informações abaixo:" TextStyle="Radzen.Blazor.TextStyle.H6" />
        </div>

        <div style="margin-bottom: 15px;">
            <RadzenRow Gap="5" RowGap="5" >
                <RadzenText Text="Região" Style="flex: 0 0 30%; min-width: 100px; margin-top: 5px;"/>
                <RadzenDropDown TValue="string"
                                Style="height: 40px; flex: 1; min-width: 150px;"
                                @bind-Value="selectedRegiao" 
                                Data="@comboBoxRegiaoItems" 
                                TextProperty="Text" 
                                ValueProperty="Value" />
            </RadzenRow>
        </div>

        <div style="margin-bottom: 15px;">
            <RadzenRow Gap="5" RowGap="5">
                <RadzenText Text="Estação do Plantio" Style="flex: 0 0 30%; min-width: 100px; margin-top: 5px;" />
                <RadzenDropDown TValue="string"
                                Style="height: 40px; flex: 1; min-width: 150px;"
                                @bind-Value="selectedEstacao"
                                Data="@comboBoxEstacaoItems"
                                TextProperty="Text"
                                ValueProperty="Value" />
            </RadzenRow>
        </div>

        <div style="margin-bottom: 15px;">
            <RadzenRow>
                <RadzenText Text="Possui ambiente climatizado para plantio" Style="flex: 0 0 50%; min-width: 150px;" />
                <RadzenRadioButtonList TValue="string"
                                       Data="@(new List<string> { "Sim", "Não" })"
                                       @bind-Value="selectedAmbienteControlado"
                                       Style="margin-left: 10px;" />
            </RadzenRow>
        </div>

        <div style="width: 100%;">
            <RadzenColumn Size="12">
                <RadzenButton ButtonStyle="ButtonStyle.Primary"
                              ButtonType="ButtonType.Submit"
                              Icon="check"
                              Text="Confirmar"
                              Variant="Radzen.Variant.Filled"
                              Shade="Radzen.Shade.Default"
                              Style="background-color: var(--rz-primary); width: 100%;"
                              Click="OnConfirmarClick" />
            </RadzenColumn>
        </div>
    </div>

    <!-- DataGrid (lado direito) -->
    <div style="flex: 1; min-width: 300px; margin-top: 10px;">
        <RadzenRow>
            <RadzenDataGrid Data="@dataGridItems" 
                            TItem="CultivoDTO"
                            AllowSorting="false"
                            EmptyText="Sem itens para mostrar"
                            Style="border: 1px solid black; padding: 10px; width: 100%; height: auto; min-height: 300px;">
                <Columns>
                    <!-- Comentei a coluna Nome para ver se fica menos apertado
                        <RadzenDataGridColumn TItem="CultivoDTO" Property="Nome" Title="Nome" Width="20%" />
                    -->
                    <RadzenDataGridColumn TItem="CultivoDTO" Property="Variedade" Title="Variedade" Width="45%" />
                    <RadzenDataGridColumn TItem="CultivoDTO" Property="Categoria" Title="Categoria" Width="25%" />
                    <!-- Coluna de Tempo de Produção com template condicional usando selectedAmbienteControladoBool -->
                    <RadzenDataGridColumn TItem="CultivoDTO" 
                        Title="Tempo médio de produção (dias)"
                        Width="30%">
                        <HeaderTemplate>
                            <div style="text-align: center;">
                                <div>Tempo médio de</div>
                                <div>produção (dias)</div>
                            </div>
                        </HeaderTemplate>
                        <Template Context="cultivo">
                            @if (selectedAmbienteControladoBool)
                            {
                                @cultivo.TempoProdControlado
                            }
                            else
                            {
                                @cultivo.TempoProdTradicional
                            }
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenRow>
    </div>
</div>
